body{
    font-family: Arial, sans-serif;
    margin: 30px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 40px;
}

/* ---------- Exercício Border Radius ---------- */

.flor{
    width:200px;
    display:flex;
    flex-wrap:wrap;
}

.petala{
    width:100px;
    height:100px;
}

.vermelho{
    background:red;
    -webkit-border-radius:50px 0 50px 50px;
    -moz-border-radius:50px 0 50px 50px;
    border-radius:50px 0 50px 50px;
}

.amarelo{
    background:gold;
    -webkit-border-radius:0 50px 50px 50px;
    -moz-border-radius:0 50px 50px 50px;
    border-radius:0 50px 50px 50px;
}

.verde{
    background:green;
    -webkit-border-radius:50px 50px 50px 0;
    -moz-border-radius:50px 50px 50px 0;
    border-radius:50px 50px 50px 0;
}

.roxo{
    background:purple;
    -webkit-border-radius:50px 50px 0 50px;
    -moz-border-radius:50px 50px 0 50px;
    border-radius:50px 50px 0 50px;
}

/* Círculo */

.circulo{
    width:200px;
    display:flex;
    flex-wrap:wrap;
}

.parte{
    width:100px;
    height:100px;
}

.circulo .vermelho{
    border-radius:100% 0 0 0;
}

.circulo .amarelo{
    border-radius:0 100% 0 0;
}

.circulo .verde{
    border-radius:0 0 0 100%;
}

.circulo .roxo{
    border-radius:0 0 100% 0;
}

/* ---------- Exercício Box Sizing ---------- */

.caixa{

    width:300px;
    height:150px;

    padding:20px;
    margin:40px auto;

    border:10px solid blue;

    background:#b9c941;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

hr{
    margin:50px 0;
}