body{
    font-family: Arial;
    text-align:center;
}

.container{
    display:flex;
    justify-content:center;
    gap:60px;
    margin-top:50px;
}

/* Primeira figura */

.flor{
    width:200px;
    height:200px;
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px;
}

.flor div{
    width:100px;
    height:100px;
}

.vermelho{
    background:red;
    border-radius:60px 0 60px 60px;
}

.amarelo{
    background:gold;
    border-radius:0 60px 60px 60px;
}

.verde{
    background:green;
    border-radius:60px 60px 60px 0;
}

.roxo{
    background:purple;
    border-radius:60px 60px 0 60px;
}

/* Segunda figura */

.circulo{
    width:200px;
    height:200px;
    display:grid;
    grid-template-columns:100px 100px;
    grid-template-rows:100px 100px;
}

.circulo div{
    width:100px;
    height:100px;
}

.q1{
    background:red;
    border-radius:100% 0 0 0;
}

.q2{
    background:gold;
    border-radius:0 100% 0 0;
}

.q3{
    background:green;
    border-radius:0 0 0 100%;
}

.q4{
    background:purple;
    border-radius:0 0 100% 0;
}